<!DOCTYPE html>
<html>
<head>
    <title>PyXEL GUI</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!--<link rel="stylesheet"-->
          <!--href="https://bootswatch.com/4/darkly/bootstrap.min.css">-->

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/css/bootstrap-slider.min.css"
          crossorigin="anonymous">

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/bootstrap-slider.min.js"
            crossorigin="anonymous"></script>

    <!-- refer: https://github.com/istvan-ujjmeszaros/bootstrap-touchspin -->
    <script src="/static/jquery.bootstrap-touchspin.min.js" ></script>
    <link rel="stylesheet"
          href="/static/jquery.bootstrap-touchspin.min.css" >


    <script src="/static/jquery.format-1.1.js"></script>

    <script src="/static/jquery.pe.js"></script>
    <script src="/static/connection.js"></script>
    <script src="/static/control.js"></script>

    <link rel="stylesheet"
          href="/static/control.css?a">

    <script>
$(document).ready(function() {
});

</script>
</head>
<body>
<div class="x-container" id="pyxel">
{% set use_tabs = False %}

    <div class="pe-form">
        <button class="btn btn-primary" id="pe-expand" >Expand</button>
        <button class="btn btn-primary" id="pe-collapse" >Collapse</button>
        <button class="btn btn-primary" id="get-state" >Get State</button>
        <button class="btn btn-primary" id="setting-get-all" >Get All</button>
        <button class="btn btn-primary" id="setting-set-all" >Set All</button>
        <button class="btn btn-primary" id="setting-reset" >Reset</button>
        <button class="btn btn-primary" id="start-imager" >Start Imager</button>
    </div>

{% if use_tabs %}
    <br/>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#group-control">Pipeline Control</a></li>
        <li><a data-toggle="tab" href="#group-0">Detector Attributes</a></li>
        <li><a data-toggle="tab" href="#group-1">Model Settings</a></li>
        <li><a data-toggle="tab" href="#group-viewer">JS9 Viewer</a></li>
    </ul>

    <div class="tab-content">

        <div id="group-control" class="pe-tab">
            {% include "control.html" %}
        </div>

        {% for index, group in enumerate(controller.get_gui_defs()) %}
        <div id="group-{{index}}" class="pe-tab">
            {% include "gui_def.html" %}
        </div>
        {% end %}

        <div id="group-viewer" class="pe-tab">
            {% include "viewer.html" %}
        </div>

    </div>
{% else %}
    <table>
        <tr>
            <td style="vertical-align:top;">
            {% include "control.html" %}
            </td>
        {% for index, group in enumerate(controller.get_gui_defs()) %}
            <td style="vertical-align:top;">
            {% include "gui_def.html" %}
            </td>
        {% end %}
            <td style="vertical-align:top;">
            {% include "viewer.html" %}
            </td>
        </tr>
    </table>
{% end %}

</div>

<!--
<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#tab-home">Home</a></li>
    <li><a data-toggle="tab" href="#tab-viewer">Viewer</a></li>
    <li class="active"><a data-toggle="tab" href="#tab-control">Control</a></li>
</ul>

<div class="tab-content">
    <div id="tab-home" class="tab-pane fade in active">
         include "mwir_control.html"
    </div>
    <div id="tab-viewer" class="tab-pane fade">
    </div>
    <div id="tab-control" class="tab-pane fade">
    </div>
</div>
-->

</body>
</html>