[report]
exclude_lines =
    pragma: no cover
    debug
    raise NotImplementedError
    # def func

[run]
omit =
    pyxel/calibration/inputdata.py
    pyxel/models/signal_transfer/nghxrg/nghxrg_beta.py
    pyxel/models/charge_transfer/cdm/CDM_old.py
    pyxel/models/charge_generation/tars/plotting.py