[report]
exclude_lines =
    pragma: no cover
    debug
    raise NotImplementedError
    # def func

[run]
omit =
    pyxel/models/charge_measurement/nghxrg/nghxrg_beta.py
    pyxel/models/charge_generation/tars/plotting.py