# Pyxel output data files
*.data
*.fits

# Geant4 i/o files
*.mac
*.ascii

# temp files
**/tmp*

# Byte-compiled
__pycache__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/

# Pycharm
.idea/

# Unit test / coverage reports
.tox/
.coverage
.coverage.
*.cache

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
