--extra-index-url http://lab-linux-server.estec.esa.int/pypi/simple/
--trusted-host lab-linux-server.estec.esa.int

########################
# ESA libraries        #
########################

esapy_config
esapy_web
pygmo

########################
# Scientific / Imaging #
########################

numpy
astropy
pandas
matplotlib
scipy
numba

########################
# Others               #
########################

pyyaml
tqdm
