--extra-index-url http://lab-linux-server.estec.esa.int/pypi/simple/
--trusted-host lab-linux-server.estec.esa.int

########################
# Scientific / Imaging #
########################

numpy=1.15.3
astropy
pandas
matplotlib              # should be optional
scipy                   # should be removed

########################
# Others               #
########################

versioneer
pyyaml
numba
tqdm
tornado

########################
# ESA libraries        #
########################

esapy-web==0.2.1
esapy-dispatcher==0.4
pygmo==2.9
# esapy-config==0.6.0   # use this when it will be available
git+https://gitlab.esa.int/sci-fv/esapy_config#egg=esapy-config