{% autoescape None %}

<div class="pe-section-group">
    <div class="pe-group-title">Pipeline Control</div>

    <table class="pe-table pe-form">
        <caption><div class="pe-section">PyXEL Loader</div></caption>
        <tr id="connection_status">
            <td><div>Status</div></td>
            <td><div class="indicator full-width">-</div></td>
            <td><button id="connect">Connect</button></td>
        </tr>
        <tr id="pipeline">
            <td><div>Pipeline</div></td>
            <td>
                <select>
                    <option></option>
                    {% set detector = handler.detector %}
                    {% for name in handler.pipelines %}
                    {% set selected = "selected=1" if detector == name else "" %}
                    <option {{selected}}>{{ name }}</option>
                    {% end %}
                </select>
            </td>
            <td></td>
        <!--
        <tr id="registry">
            <td><div>Registry file (yaml)</div></td>
            <td><input type="text" value="pyxel/model_registry.yaml"></td>
            <td><button>Load</button></td>
        </tr>
        -->
        <tr id="load-module">
            <td><div>Load modules</div></td>
            <td><input type="text" value="pyxel.models_importer"></td>
            <td><button>Load</button></td>
        </tr>
        <tr id="update-from-file">
            <td><div>Update from file (yaml)</div></td>
            <td><input type="text" value="tests/data/test_yaml_new.yaml"></td>
            <td><button>Load</button></td>
        </tr>
        <tr id="generate">
            <td><div>Output file (yaml)</div></td>
            <td><input type="text" value="test.yaml"></td>
            <td><button>Generate</button></td>
        </tr>
        <tr id="load">
            <td><div>Load file (yaml)</div></td>
            <td><input type="text" value="test.yaml"></td>
            <td><button>Load</button></td>
        </tr>
    </table>

    <table class="pe-table pe-form">
        <caption><div class="pe-section">PyXEL Pipeline Runner</div></caption>

        <tr id="output_file">
            <td><div>Output file (fits)</div></td>
            <td><input type="text" value="/home/hsmit/data/pyxel/test_???.fits"></td>
            <td></td>
            <!--<td><button id="run-pipeline">Run</button></td>-->
        </tr>
        <tr id="state" class="pe-progress">
            <td><div>State</div></td>
            <td><div class="indicator full-width">-</div></td>
            <td><button>Run</button></td>
        </tr>
    </table>

    <table class="pe-table pe-form">
        <caption><div class="pe-section">Parametric Configuration</div></caption>
        <tr id="sequence-mode">
            <td style="width:100px"><div>Run Mode</div></td>
            <td></td>
            <td colspan="2">
                <div>
                <input id="run-mode-recurse" name="mode" type="radio" value="single"/>
                <label for="run-mode-recurse">single</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="run-mode-linear" name="mode" type="radio" value="embedded"/>
                <label for="run-mode-linear">embedded</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="run-mode-single" name="mode" type="radio" value="sequential"/>
                <label for="run-mode-single">sequential</label>
                </div>
            </td>
            <td><button>Set</button></td>
        </tr>
        {% for i in range(0, 5) %}
        <tr id="sequence_{{ i }}" class="sequence pe-progress">
            <td style="width:100px"><div>Sequence {{ i }}</div></td>
            <td id="steps.{{i}}.current"><div class="indicator" style="width:40px;">-</div></td>
            <td id="steps.{{i}}.key">
                <select>
                    <option value=""></option>
                    {% for section in handler.groups()[0]['section'] %}
                    {% if len(section['items']) %}
                    <optgroup label="{{ section['label'] }}">
                        {% for item in section['items'] %}
                        <option value="{{ item['id'] }}">{{ item['label'] }}</option>
                        {% end %}
                    </optgroup>
                    {% end %}
                    {% end %}
                    {% for section in handler.groups()[1]['section'] %}
                    {% if len(section['items']) %}
                    <optgroup label="{{ section['label'] }}">
                        {% for item in section['items'] %}
                        <option value="{{ item['id'] }}">{{ item['label'] }}</option>
                        {% end %}
                    </optgroup>
                    {% end %}
                    {% end %}
                </select>
            </td>
            <td id="steps.{{i}}.values"><input type="text" value="" style="width:200px;"></td>
            <td id="steps.{{i}}.enabled"><input class="enable-row" type="checkbox"/></td>
        </tr>
        {% end %}
    </table>

    <table class="pe-table pe-form">
        <caption><div class="pe-section">Models</div></caption>
        {% for i, (name, group) in enumerate(handler.model_groups.items()) %}
        <tr>
            <td style="vertical-align:top;">{{ name.replace('_', ' ') }}</td>
            <td>
                {% for model in group.models %}
                {% set id = 'pipeline.' + name + '.' + model.name + '.enabled' %}
                <label style="font-weight:normal;padding-left:10px;" for="{{ id }}">
                    <input class="model-state" type="checkbox" id="{{ id }}"/>
                    {{ model.name.replace('_', ' ') }}
                </label><br/>
                {% end %}
            </td>
            <td></td>
        </tr>
        {% end %}
    </table>
</div>
