<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <title>PyXEL GUI</title>
    <link rel="stylesheet" href="/gui/static/control.css">
    <script src="/gui/static/jquery.pe.js"></script>
    <script src="/gui/static/control.js"></script>
    <script src="/pyxel/pyxel.js"></script>
</head>

<body>

<div class="x-container" id="pyxel">
{% set use_tabs = False %}

    <div class="pe-form">
        <button class="btn btn-primary" id="pe-expand" >Expand</button>
        <button class="btn btn-primary" id="pe-collapse" >Collapse</button>
        <button class="btn btn-primary" id="get-state" >Get State</button>
        <button class="btn btn-primary" id="setting-get-all" >Get All</button>
        <button class="btn btn-primary" id="setting-set-all" >Set All</button>
        <button class="btn btn-primary" id="setting-reset" >Reset</button>
        <button class="btn btn-primary" id="start-imager" >Start Imager</button>
    </div>

    <table>
        <tr>
            <td style="vertical-align:top;">
            {% include "/home/hsmit/PycharmProjects/pyxel/pyxel/web2/static/control.html" %}
            </td>

        {% for index, group in enumerate(handler.groups()) %}
            <td style="vertical-align:top;">
            {% include "gui_def.html" %}
            </td>
        {% end %}
            <td style="vertical-align:top;">
            {% include "viewer.html" %}
            </td>
        </tr>

    </table>


</div>


</body>
</html>